github "Alamofire/Alamofire" ~> 4.0
github "robb/Cartography" ~> 1.0
github "ReactiveX/RxSwift" ~> 3.0
github "watson-developer-cloud/swift-sdk"
github "airbnb/lottie-ios" "master"
github "Akkyie/AKPickerView-Swift"
github "facebook/pop"
github "PureLayout/PureLayout"
github "Ramotion/circle-menu"
github "RxSwiftCommunity/RxGesture"
github "ChiliLabs/CHIPageControl" ~> 0.1.3