<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide0</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide4</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide5</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide6</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide7</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide8</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide9</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide10</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide11</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide12</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide13</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of images</string>
		<key>imageName</key>
		<string>slide14</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of gif images</string>
		<key>imageName</key>
		<string>slide15</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of gif images</string>
		<key>imageName</key>
		<string>slide16</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of gif images</string>
		<key>imageName</key>
		<string>slide17</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of gif images</string>
		<key>imageName</key>
		<string>slide18</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Intro Slides Tutorial</string>
		<key>description</key>
		<string>scrollable view of gif images</string>
		<key>imageName</key>
		<string>slide19</string>
	</dict>
</array>
</plist>
